@page "/classes"
@using Microsoft.EntityFrameworkCore
@using TimetableHelper.Components.Widgets
@using TimetableHelper.Models
@inject IDbContextFactory<TimetableHelper.Data.TimetableHelperContext> DbFactory
@inject NavigationManager NavigationManager
<PageTitle>Třídy</PageTitle>
<h2>Třídy</h2>
<button @onclick="OpenAddModal" class="btn btn-primary"><i class="bi bi-person-plus-fill"></i> Přidat třídu</button>
@if (classes == null || classes.Count() == 0)
{
    <p>Zatím nebyly přidány žádné třídy. Pro přidání použijte tlačítko výše.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Název</th>
                <th>Ročník</th>
                <th>Počet studentů</th>
                <th>Vytvořený rozvrh</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clas in classes)
            {
                <tr @onclick="@(()=>NavigationManager.NavigateTo($"{NavigationManager.BaseUri}class?id={clas.Id}"))">
                    <td>@clas.Name</td>
                    <td>@clas.Grade</td>
                    <td>@clas.Students.Count()</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}
<CascadingValue Value="@newClass">
    <AddModal @ref=modal SaveMethod="AddClass">
        <Title>Přidat třídu</Title>
        <Body>
            <div class="mb-3">
                <label>
                    Označení třídy
                    <input class="form-control" @bind="newClass.Name" />
                </label>
            </div>
            <div class="mb-3">
                <label>
                    Ročník
                    <input class="form-control" @bind="newClass.Grade" />
                </label>
            </div>
        </Body>
    </AddModal>
</CascadingValue>

@code {
    List<Class>? classes;
    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        classes = await context.Class.ToListAsync();
    }

    private AddModal modal;
    public Class newClass = new Class();
    private void OpenAddModal()
    {
        newClass = new Class();
        modal.Open();
    }
    private async void AddClass(object body)
    {
        using var context = DbFactory.CreateDbContext();
        await context.Class.AddAsync(newClass);
        context.SaveChanges();
        modal.Close();
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}